/app/*
!/app/.gitkeep
/data/*
!/data/.gitkeep
/log/*
!/log/.gitkeep
/redis/*
!/redis/.gitkeep
/config/redis/*
!/config/redis/.gitkeep
docker-compose.yml

# Version Control
.svn

# OSX
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/
/tags
.netbeans.xml
.env
docker-laravel.code-workspace