/app/*
!/app/.gitkeep
/data/*
!/data/.gitkeep
/log/*
!/log/.gitkeep

# Version Control
.svn

# OSX
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/
/tags
.netbeans.xml